services:
  app:
    build:
      context: ../..
      dockerfile: AIinDevOps/DockerLocally/Dockerfile
    image: youtube-learning-platform:${COMMIT_SHA:-latest}
    ports:
      - "5000:5000"
    env_file:
      - ../../.env
    restart: unless-stopped
